html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme {
  background: url('../images/water_wave_bg.gif');
  background-size: cover;
  /* font-family: 'STKaiti', Arial, Helvetica, sans-serif; */
  font-family: serif, 'Microsoft YaHei';
}

.container {
  width: 80%;
  height: 85%;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  opacity: 0.8;
}

.title {
  text-align: center;
}

.overview {
  display: flex;
  justify-content: space-around;
}

.statistics {
  height: 80px;
  width: 23%;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}

.statistices-title {
  color: #ffffff;
  margin: 0;
  padding: 10px;
}

.statistics-content {
  margin: 0;
  padding: 0px 10px;
  font-size: 32px;
}

.statistics-proportion {
  font-size: 50px;
  margin: 0;
  padding: 0px 10px;
}

.statistics-left {
  flex-grow: 1;
}

.statistics-right {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-tasks {
  background: url('../images/all_tasks_bg.jpg'), rgba(0, 0, 0, 0.3);
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
}

.active-tasks {
  background: url('../images/active_task_bg.svg'), rgba(0, 0, 0, 0.3);
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
}

.padding-tasks {
  background: url('../images/padding_tasks_bg.svg'), rgba(0, 0, 0, 0.3);
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
}

.closed-tasks {
  background: url('../images/closed_tasks_bg.svg'), rgba(0, 0, 0, 0.3);
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
}

.tasks-container {
  height: 100%;
}

.title-bar {
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
}

.task-list-title {
  flex-grow: 2;
}

.tools {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.search-input {
  width: 240px;
  border: 0px;
  border-bottom: 2px solid #000000;
  outline: none;
  font-size: 15px;
  padding-left: 5px;
}

.btn {
  border: 1px solid #308169;
  color: #ffffff;
  background-color: #ffffff;
  border-radius: 15px;
  margin-top: 2px;
  padding: 5px 10px 2px 10px;
  font-size: 15px;
  outline: none;
  cursor: pointer;
  transition: background 0.8s;
}

.btn-search {
  margin-right: 20px;
}

.btn-icon {
  border: 0;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.task-list {
  margin-left: 10px;
  margin-right: 10px;
  opacity: 0.8;
  height: 100%;
}

.task-list ul {
  margin: 0px;
  padding: 0px;
  max-height: calc(100% - 280px);
  overflow-y: scroll;
}

.task-header {
  background-color: #ebecf0;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 10px;
  display: flex;
  justify-content: flex-start;
  width: calc(100% - 35px);
}

.task-line {
  font-size: 15px;
  padding: 10px 10px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #dcdee3;
}

.task-name-col {
  flex-grow: 2;
  text-align: left;
  max-width: 20%;
}

.task-num-col {
  flex-grow: 0.5;
  max-width: 5%;
  text-align: left;
}

.task-desc-col {
  flex-grow: 4.5;
  text-align: left;
  max-width: 45%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
}

.task-desc-col:hover {
  overflow: visible;
  -webkit-box-orient: inherit;
  text-overflow: inherit;
  cursor: pointer;
}

.task-deadline-col,
.task-status-col,
.task-operation-col {
  flex-grow: 1;
  text-align: left;
  max-width: 10%;
}

.active {
  color: rgb(177, 177, 6);
}

.padding {
  color: rgb(82, 82, 187);
}

.closed {
  color: rgb(238, 82, 113);
}
