html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.theme {
    background: url("../images/water_wave_bg.gif");
    background-size: cover;
    font-family: "STKaiti", Arial, Helvetica, sans-serif;
}

