.task-list {
  margin-left: 10px;
  margin-right: 10px;
  opacity: 0.8;
  height: 100%;
}

.task-list ol {
  margin: 0px;
  padding-left: 0;
  max-height: calc(100% - 280px);
  overflow-y: scroll;
}

.task-header {
  background-color: #ebecf0;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 10px;
  display: flex;
  justify-content: flex-start;
  width: calc(100% - 35px);
}

.task-line {
  font-size: 15px;
  padding: 10px 10px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #dcdee3;
}

.task-name-col {
  flex-grow: 2;
  text-align: left;
  max-width: 20%;
}

.task-num-col {
  flex-grow: 0.5;
  max-width: 5%;
  text-align: left;
}

.task-desc-col {
  flex-grow: 4.5;
  text-align: left;
  max-width: 45%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  line-height: 20px;
  cursor: pointer;
}

.task-desc-col:hover {
  overflow: visible;
  -webkit-box-orient: inherit;
  text-overflow: inherit;
}

.task-deadline-col,
.task-status-col,
.task-operation-col {
  flex-grow: 1;
  text-align: left;
  max-width: 10%;
}

.active {
  color: rgb(177, 177, 6);
}

.padding {
  color: rgb(82, 82, 187);
}

.closed {
  color: rgb(238, 82, 113);
}
